[buildout]
extends =
    checkouts-documentation.cfg
    http://dist.plone.org/release/5.1-latest/versions.cfg


parts +=
    sphinx-build
#    sphinx-intl
#    transifex-client
# makefile should be generated to make this buildout re-usable:
#   makefile

extensions =
    mr.developer
    buildout.threatlevel

allow-picked-versions = true
auto-checkout +=
#    sphinxtheme.plone
#    sphinx-intl
    sphinxcontrib-osexample

docs-dir = ${buildout:directory}/source

[sources]
sphinxtheme.plone = git https://github.com/plone/sphinxtheme.plone.git
#sphinx-intl = git https://github.com/collective/sphinx-intl.git
sphinxcontrib-osexample = git https://github.com/svx/sphinxcontrib-osexample.git branch=plone

[versions]
#Sphinx = 1.6.7
Sphinx = 1.7.2
sphinxtheme.plone = 0.5.7

[sphinx-build]
recipe = zc.recipe.egg
eggs =
    Sphinx
    sphinxtheme.plone
    pyenchant
    sphinxcontrib-spelling
    sphinxcontrib.gist
    sphinxcontrib-osexample
    Plone

initialization =
    # This enables po -> mo -compilation
    import os; os.environ['zope_i18n_compile_mo_files'] = 'true'
    import os; os.environ['PLONE_CSRF_DISABLED'] = 'true'
scripts =
    sphinx-build=sphinx-build

#[sphinx-intl]
#recipe = zc.recipe.egg
#eggs =
#    sphinx-intl [transifex]
#    sphinxtheme.plone

#[transifex-client]
#recipe = zc.recipe.egg
#eggs = transifex-client

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude
