[buildout]
#checkout = collective.usermanual_robot-papyrus
checkout = collective.developermanual
extends =
# robot-support requires Plone-versions:
    http://dist.plone.org/release/4.3-latest/versions.cfg
parts =
    sphinx-build
    sphinx-intl
    transifex-client
# robot-support requires some scripts:
    robot
    pybot
    pybabel
    makefile
    i18ndude

extensions = mr.developer
sources = sources
sources-dir = ${buildout:directory}/source
allow-picked-versions = true
auto-checkout = ${:checkout}

[sources]
collective.usermanual_robot-papyrus = git git@github.com:collective/collective.usermanual.git branch=robot-papyrus egg=false
collective.developermanual = git git@github.com:collective/collective.developermanual.git branch=sources-only egg=false

[versions]
zc.buildout = 2.2.1
setuptools = 2.2
Sphinx = 1.2.1
# robot-support requires the newest versions:
Pygments = 1.6
docutils = 0.11
plone.app.robotframework = 0.7.2
robotframework = 2.8.4
robotframework-selenium2library = 1.5.0
robotframework-selenium2screenshots = 0.4.0
robotsuite = 1.4.3
selenium = 2.39.0
sphinxcontrib-robotframework = 0.4.2

[sphinx-build]
recipe = zc.recipe.egg
eggs =
    Sphinx
    Pygments
    roman
    collective.sphinx.includedoc
    collective.sphinx.autoatschema
# robot-support requires some packages:
    Plone
    plone.app.robotframework [speak]
    sphinxcontrib-robotframework [docs]
    sphinxcontrib-robotdoc
initialization =
    # This enables po -> mo -compilation
    import os
    os.environ['zope_i18n_compile_mo_files'] = 'true'
    # This activates standalone setup, which bootstraps Plone within Sphinx:
    import shutil
    from os.path import join
    path = join('${buildout:directory}', 'source', '${buildout:checkout}')
    try: shutil.copy(join(path, 'robot-standalone.rst'), join(path, 'robot.rst'))
    except: pass
scripts =
    sphinx-build=sphinx-build

[sphinx-intl]
recipe = zc.recipe.egg
eggs = sphinx-intl [transifex]

[transifex-client]
recipe = zc.recipe.egg
eggs = transifex-client

[robot]
recipe = zc.recipe.egg
eggs =
    Sphinx
    Plone
    plone.app.robotframework [speak]
    sphinxcontrib-robotframework [docs]
initialization =
    # This enables po -> mo -compilation
    import os
    os.environ['zope_i18n_compile_mo_files'] = 'true'
    # This activates robot-server, which uses robot-server Plone with Sphinx:
    import shutil
    from os.path import join
    path = join('${buildout:directory}', 'source', '${buildout:checkout}')
    try: shutil.copy(join(path, 'robot-server.rst'), join(path, 'robot.rst'))
    except: pass
scripts =
    robot-server
    pybot=robot
    sphinx-build=robot-sphinx

[pybot]
recipe = zc.recipe.egg
eggs =
     Plone
     plone.app.robotframework [speak]
     sphinxcontrib-robotframework [docs]
initialization =
    # This enables po -> mo -compilation
    import os
    os.environ['zope_i18n_compile_mo_files'] = 'true'
    # This activates standalone setup, which bootstraps Plone within Sphinx:
    import shutil
    from os.path import join
    path = join('${buildout:directory}', 'source', '${buildout:checkout}')
    try: shutil.copy(join(path, 'robot-standalone.rst'), join(path, 'robot.rst'))
    except: pass
scripts = pybot

[pybabel]
recipe = zc.recipe.egg
eggs = plone.app.robotframework
scripts = pybabel

[makefile]
recipe = collective.recipe.template
input = templates/Makefile.in
output = ${buildout:directory}/Makefile
pkgname = collective.developermanual

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude
